*
!.gitignore
!LICENSE

!/sourcemod/
/sourcemod/*

!/sourcemod/plugins/
/sourcemod/plugins/*
!/sourcemod/plugins/JailbreakFromScratch*

!/sourcemod/scripting/
/sourcemod/scripting/*
!/sourcemod/scripting/JailbreakFromScratch*

!/sourcemod/scripting/include/
/sourcemod/scripting/include/*
!/sourcemod/scripting/include/JBFS/
!/sourcemod/scripting/include/JBFS/*

!/sourcemod/configs/
/sourcemod/configs/*

!/sourcemod/translations/
/sourcemod/translations/*
!/sourcemod/translations/jbfs.phrases.txt
